{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<h2>List of items</h2>
{% for product in products %}
<a href="{{ url_for('viewItem', itemId=product['_id']) }}">{{ product['_id'] }}</a> {{ product['type'] }} <br>
{% endfor %}

<h2>Stock</h2>
{% if form.items %}
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <table>
          <tr>
            <th>Code</th>
            <th>Room</th>
            <th>Storage</th>
            <th>Date stocked</th>
            <th>Quantity</th>
          </tr>
          {% for item in form.items %}
          {{ item.hidden_tag() }}
          {{ item.id_}}
          <tr>
            <td><b>{{ item.code.data }}</b></td>
            <td>{{ item.room.data }}</td>
            <td>{{ item.storage.data }}</td>
            <td>{{ item.stocked_date.data }}</td>
            <td>{{ item.quantity }}</td>
          </tr>
          {% endfor %}
      </table>
      {{ form.submit() }}
    </form>
    {% endif %}
{% endblock %}