{% extends 'base.html' %}

{% block content %}
  <div class='content-section'>
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Items list</legend>
      {% for product in products %}
        <div class="form-group row">
          <div class='col-lg-3'>
            <a href="{{ url_for('item.viewItem', itemId=product['_id']) }}">{{ product['_id'] }}</a>
          </div>
          <div class="col-lg-9">
            {{ product['type'] }}
          </div>
        </div>
      {% endfor %}
    </fieldset>

    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Stock</legend>
      {% if form.items %}
        <form action="{{ url_for('invtory.inventory', query=query)}}" method="post" novalidate>
          {{ form.hidden_tag() }}
          <table class="table table-hover">
            <thead class='thead-light'>
              <tr>
                <th scope='col'>Code</th>
                <th scope='col'>Room</th>
                <th scope='col'>Storage</th>
                <th scope='col'>Date stocked</th>
                <th scope='col'>Quantity</th>
              </tr>
            </thead>
              {% for item in form.items %}
              {{ item.hidden_tag() }}
              {{ item.id_}}
            <tbody>
              <tr>
                <th scope='row' class='align-middle'>{{ item.code.data }}</th>
                <td class='align-middle'>{{ item.room.data }}</td>
                <td class='align-middle'>{{ item.storage.data }}</td>
                <td class='align-middle'>{{ item.stocked_date.data }}</td>
                <td class='align-middle'>{{ item.quantity(class="form-control") }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {{ form.submit(class='btn btn-outline-info') }}
        </form>
      {% endif %}
    </fieldset>
  </div>
{% endblock %}