{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>
{% if form.items %}
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <table>
          <tr>
            <th>Part number</th>
            <th>Quantity</th>
          </tr>
          {% for item in form.items %}
          {{ item.id_}}
          <tr>
            <td><a href="{{ url_for('viewItem', itemId=item.id_.data) }}">{{ item.part_number.data }}</a></td>
            <td>{{ item.quantity }}</td>
          </tr>
          {% endfor %}
      </table>
      {{ form.submit() }}
    </form>
    {% endif %}
{% endblock %}