{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<div>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <h2>Rooms</h2>
        <p>{{form.room}} {{ form.addRoom }}</p> 
        <br>
        <h2>Storage</h2>
        <p>{{ form.roomList.label }} {{ form.roomList }} {{ form.viewStorage }} {{ form.deleteRoom }}</p>
        <p>{{ form.storage.label}} {{form.storage}} {{ form.addStorage }}</p>
        <p>{{ form.storageList.label }} {{ form.storageList }} {{ form.deleteStorage }}</p> 
    </form>
</div>

{% endblock %}