{% extends "base.html" %}

{% block content %}
    <div class="content-section">
        <form method='POST'>
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add new item</legend>
                {{ form.searchType(id='types', class="form-control") }} <br>
                {{ form.searchSubtype(id='subtypes', class="form-control") }}
            </fieldset>
            <div class="form-group">    
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>


    <script>
        $(document).ready(function(){
            $("#types").change(function(){
                var jsonchoices = '{{choices|tojson|safe}}';
                var selectedType  = $("#types").val(); 
                $('#subtypes').empty();
                $('#subtypes').append($('<option/>', { 
                    value: 'None',
                    text : 'choose a subtype' 
                    }));
                $.each(JSON.parse(jsonchoices)[selectedType], function (index, value) {
                    $('#subtypes').append($('<option/>', { 
                    value: value,
                    text : value 
                    }));
                });
            });
        });
    </script>
{% endblock %}