{% extends "base.html" %}

<!-- <script> -->
    <!-- $(function() { -->
    <!-- $('#cars').bind('click', function() { -->
        <!-- $.getJSON('/check', { -->
        <!-- a: $( "#cars" ).val() -->
        <!-- }, function(data) { -->
        <!-- $("#result").text(data.result); -->
        <!-- }); -->
        <!-- return false; -->
    <!-- }); -->
    <!-- }); -->
<!-- </script> -->

{% block content %}
    <h1>Search item</h1>

    <select id="types">
        <option value="None">Choose a type</option>
        {% for choice in choices %}
        <option value="{{ choice }}">{{ choice }}</option>
        {% endfor %}
    </select>

    <span id=result>?</span>


    <script>
        $(document).ready(function(){
            $("#types").change(function(){
                var selectedType  = $("#types").val(); 
                $("#result").text(selectedType);
            });
        });
    </script>    
{% endblock %}