{% extends "base.html" %}

{% block content %}
    <h1>Search item</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.searchField() }} {{ form.searchValue() }}
            {{ form.submit() }}
        </p>
    </form>
    <hr>
    {% if items.items %}
    <form action="" method="post" novalidate>
      {{ items.hidden_tag() }}
      <table>
          <tr>
            <th>Part number</th>
            <th>Quantity</th>
          </tr>
          {% for item in items.items %}
          <tr>
            <td>{{ item.part_number.data }}</td>
            <td>{{ item.quantity.data }}</td>
          </tr>
          {% endfor %}
      </table>
      {{ form.submit() }}
    </form>
    {% endif %}
{% endblock %}