{% extends "base.html" %}

{% block content %}
    <h1>Search item</h1>

    <select id="types">
        {% for choice in choices %}
        <option value="{{ choice }}">{{ choice }}</option>
        {% endfor %}
    </select>
    <select id="subtypes">
        <option value="None">{{ choices['choose a type'] }}</option>
    </select>

    <div>
        <form method='POST'>
            {{ form.searchField1(class='search') }} {{ form.searchValue1 }}<br>
            {{ form.searchField2(class='search') }} {{ form.searchValue2 }}<br>
            {{ form.searchField3(class='search') }} {{ form.searchValue3 }}<br>
            {{ form.submit }}
        </form>

    </div>


    <script>
        $(document).ready(function(){
            $("#types").change(function(){
                var jsonchoices = '{{choices|tojson|safe}}';
                var selectedType  = $("#types").val(); 
                $('#subtypes').empty();
                $('#subtypes').append($('<option/>', { 
                    value: 'choose a subtype',
                    text : 'choose a subtype' 
                    }));
                $.each(JSON.parse(jsonchoices)[selectedType], function (index, value) {
                    $('#subtypes').append($('<option/>', { 
                    value: value,
                    text : value 
                    }));
                });
            });
        });
    </script>
    
    <script>
        $(document).ready(function(){
            $("#types").change(function(){

            });
        });
    </script>
{% endblock %}