{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<form action="" method="post" enctype="multipart/form-data">
<div>
    {{ form.hidden_tag() }}
    {% for field in form %}
        {% if field.name!='submit' and field.name!='csrf_token' %}
            <dt>{{ field.label }}</dt> <dd>{{ field }}</dd>
        {% endif %}
    {% endfor %}
</div>
<div>
    <dt>Documentation</dt>
    {% if itemDoc %}
        {% for doc_id, doc_name in itemDoc.items() %}
            {{ doc_name }} &nbsp; <a href='{{ url_for("delete_document", itemId=itemId, docId=doc_id) }}' class='btn btn-sm btn-outline-danger'>x</a>
        {% endfor %}
    {% else %}
        <dd>No documentation</dd>
    {% endif %}
</div>
{{ form.submit }}
</form>    

{% endblock %}