{% extends "base.html" %}

{% block content %}
<div class="content-section">

    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group"></fieldset>
            <legend class="border-bottom mb-4">{{ title }}</legend>
            <div class="form-group row">
                <div class='col-lg-2'>
                    {{ form.manufacturer.label(class="form-control-label") }}
                </div>
                <div class="col-lg-10">
                    {{ form.manufacturer(class="form-control") }}
                </div>
            </div>
            <div class="form-group row">
                <div class='col-lg-2'>
                    {{ form.part_number.label(class="form-control-label") }}
                </div>
                <div class="col-lg-10">
                    {{ form.part_number(class="form-control") }}
                </div>
            </div>
            <div class="form-group row">
                <div class='col-lg-2'>
                    {{ form.price.label(class="form-control-label") }}
                </div>
                <div class="col-lg-5">
                    {{ form.price(class="form-control") }}
                </div>
                <div class="col-lg-5">
                    <div class="form-check form-check-inline">
                        {% for subfield in form.currency %}
                            {{ subfield(class="form-check-input") }} {{ subfield.label(class="form-check-label") }}
                            &nbsp;
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2">
                    {{ form.description.label(class="form-control-label") }}
                </div>
                <div class="col-lg-10">
                    {{ form.description(class="form-control") }}
                </div>
            </div>
            <div class="form-group row">
                <div class='col-lg-2'>
                    {{ form.documentation.label(class="form-control-label") }}
                </div>
                <div class="col-lg-10">
                    {{ form.documentation(class="form-control-file") }}
                </div>
            </div>
            <div class="form-group row">
                <div class='col-lg-3'>
                    {{ form.dimension_unit.label(class="form-control-label") }}
                </div>
                <div class="col-lg-5">
                    <div class="form-check form-check-inline">
                        {% for subfield in form.dimension_unit %}
                            {{ subfield(class="form-check-input") }} {{ subfield.label(class="form-check-label") }}
                            &nbsp;
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- include specific item file                  -->
            {% include html_form %}
            <!--  -->
            <div class='form-group row'>
                <div class='col-lg-12'><b>Documentation</b></div>
                {% if itemDoc %}
                    {% for doc_id, doc_name in itemDoc.items() %}
                    <div class='col-lg-12'>
                        {{ doc_name }} &nbsp; <a href='{{ url_for("utils.delete_document", itemId=itemId, docId=doc_id) }}' class='btn btn-sm btn-outline-danger'>x</a>
                    </div>
                        {% endfor %}
                {% else %}
                    <div class='col-lg-12'>No documentation</div>
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">    
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div> 

{% endblock %}

