{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<div>
    <a href='{{ url_for("updateItem", itemId=id) }}'>Edit</a>
    <a href='{{ url_for("storeItem", itemId=id) }}'>Store</a>
    <a href='{{ url_for("inventory", query={"_id":id}) }}'>Check stock</a>
</div>
<div>
    {% for k, v in product.items() %}
        {% if k!='documentation' %}
            <dt>{{ k }}:</dt> <dd>{{ v }}</dd>
        {% endif %}
    {% endfor %}
</div>
<div>
    <dt>Documentation</dt>
    {% if 'documentation' in product %}
        {% for k, v in product['documentation'].items() %}
        <dd><a href='{{ url_for("get_upload", id=k) }}'> {{ v }} </a></dd>
        {% endfor %}
    {% else %}
        <dd>No Documentation</dd>
    {% endif %}
</div>
<div>
    <a href=#>Delete item</a>
</div>
{% endblock %}